.wrapper {
    display: flex;
    flex-direction: column;
   

    .inpWrapper {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        

        input {
           
            width: 981px;
            height: 48px;
            padding: 0px 12px;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
            border-radius: 8px;
            border: 1px solid var(--Grey-200, #EAEBED);
            background: var(--grey-scale-white, #FFF);
            outline: none;

            &::placeholder {
                padding-left: 36px;
            }
        }

        .btnTag {
            border-radius: 8px;
            background: var(--Blue-Main-500, #5E96FC);
            display: flex;
            padding: 4px 20px;
            justify-content: center;
            align-items: center;
            color: #FFF;
            cursor: pointer;
        }




    }
}


.blockWrapper{
    display: flex;
    justify-content: center;


.blocks {
    width: 981px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    .course {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        width: 448px;
        padding: 24px 0px 24px 24px;
        justify-content: space-between;

    }

    h3 {
        color: var(--Blue-Main-500, #5E96FC);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    p {
        color: var(--Black, #232134);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}
}